@tailwind base;
@tailwind components;
@tailwind utilities;

.box {
    /*display: flex;*/
    /*align-items: center;*/
    /*justify-content: center;*/
    /*text-align: center;*/
    /*font-weight: 600;*/
    /*line-height: 1.2;*/
    z-index: 0 !important;
    will-change: transform;
}
body {
    overscroll-behavior: none;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.box.active {
    border: solid 2px red;
}
.above{
    z-index: 999 !important;
}