@tailwind base;
@tailwind components;
@tailwind utilities;

.box {
  z-index: 0 !important;
  will-change: transform;
}

html {
  scroll-behavior: smooth;
}

body {
  overscroll-behavior: none;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.dark body {
  background-color: #000000;
  color: #ffffff;
}

.light body {
  background-color: #ffffff;
  color: #0a0a0a;
}

.above{
  z-index: 999 !important;
}

#project:hover{
  .custom-cursor{
    position: fixed;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    border-radius:  50%;
    pointer-events: none;
    z-index: 9999;
    mix-blend-mode: difference;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
  }
  & a {
    cursor: pointer;
  }
  .cursor-label{
    padding-top:  4px;
    font-size: 2px;
    font-weight: 400;
    letter-spacing: 1px;
    /*display: none;*/
  }
}

.bg-background {
  background-image: url('../utils/background.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.dark .bg-background {
  background-color: #304336d9;
}

.light .bg-background {
  background-color: #f0f9ff;
}